[user]
	name = David Martinez
	email = dmartinez@comverge.com
	initials = DM

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
	meta = 227
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	commit = 227 bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    autocrlf = input
    excludesfile = "~/.gitexcludes"
    # pager = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
    pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
    ap = add -p
    ci = commit
    pu = push origin master
    st = status
    undo = reset --soft HEAD^
    up = pull origin master
    co = checkout
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %s %Cgreen(%cr)' --abbrev-commit --date=relative
    lgt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %s %Cgreen(%ci)' --abbrev-commit
    lp = log -p
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    incoming = '!git remote update -p; git log ..@{u}'
    outgoing = 'log @{u}..'
    diffall  =
	snapshot = "!__f() { git stash save \"snapshot: $@ $(date)\" && git stash apply \"stash@{0}\"; }; __f"
	ours     = "!__f() { git checkout --ours $@ && git add $@; }; __f"
	theirs   = "!__f() { git checkout --theirs $@ && git add $@; }; __f"

[diff]
    tool = ediffclient

[difftool]
    prompt = false

[difftool "diffmerge"]
    cmd = "~/diffmerge.sh \"$LOCAL\" \"$REMOTE\""
    prompt = false
    trustExitCode = false

[difftool "ediff"]
    cmd = $EMACS --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[difftool "ediffclient"]
    cmd = $EMACSCLIENT --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[merge]
    #tool = diffmerge
    tool = meld

[mergetool]
    prompt = false

[mergetool "diffmerge"]
    cmd = "/cygdrive/c/'Program Files'/SourceGear/DiffMerge/DiffMerge.exe" --merge --result=$MERGED $LOCAL $BASE $REMOTE
    trustExitCode = false

[apply]
    whitespace = nowarn

[branch]
    autosetupmerge = true

[push]
	default = current
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
